.Markdown {
	display:flex;
  background-color: #f1f1f1;
  width: 100%;
  margin: 0%;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 75px;
  font-size: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.input, .output  {
  background-color: red;
  min-width: 300px;
  width: 45%;
  margin: 2.5%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

textarea {
  width: 100%;
  min-height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
}
