.Markdown {
	display:flex;
  background-color: #f1f1f1;
  width: 100%;
  margin: 0%;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.input  {
  background-color: white;
  min-width: 300px;
  width: 45%;
  margin: 2.5%;
  padding-top: 2.5%;
  line-height: normal;
  font-size: calc(8px + 2vmin);
}

.output  {
  background-color: white;
  min-width: 300px;
  width: 45%;
  margin: 2.5%;
  font-size: calc(8px + 2vmin);
  text-align: left;
  line-height: normal;
  padding-top: 2.5%;
}

#preview {
  margin: 5% 1% 1% 1%;
}

blockquote {
  border-radius: 5%;
  font-style: italic;
  background-color:#fff2fc;
}

code {
  background-color: #edfaff;
  height: auto;
  font-size: calc(6px + 2vmin);
  white-space: normal;
  border-radius: 5%;
}

pre {
  max-width: 100%;
  height: auto;
  font-size: calc(6px + 2vmin);
  white-space: normal;
  background-color: #edfaff;
  border-radius: 5%;
}

.subTitle {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
}

@media (max-width: 686px) {
  .Markdown {
    align-items: center;
    display:flex;
    background-color: #f1f1f1;
    width: 100%;
    margin: 0%;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    justify-content: space-between;
  }

  .input  {
    background-color: white;
    min-width: 300px;
    width: 95%;
    margin: 2.5%;
    font-size: calc(8px + 2vmin);
  }

  .output  {
    background-color: white;
    min-width: 300px;
    width: 95%;
    margin: 2.5%;
    font-size: calc(8px + 2vmin);
    text-align: left;
    line-height: normal;
    padding-top: 2.5%;
  }
}
